main{
  width: 100vw;
  height: 70%;


  background-color: #ECECEC;

  font-family: 'Architects Daughter', cursive;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

section {
  margin: 0 auto;
}

section img{
  display: inline-block;
  height: 150px;
  margin: 5px;
}
