.main-game{
  width: 100vw;
  height: 70%;


  background-color: #ECECEC;

  font-family: 'Architects Daughter', cursive;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.game-section {
  margin: 0 auto;
}


.game-section img{
  display: inline-block;
  height: 150px;
  margin: 5px;
}

#user-section img:hover, #draw-discard img:hover{
  cursor: pointer;
}
