*{
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  font-size: 18px;
}

header{
  width: 100%;
  height: 20%;
  background-color: #993366;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-image: url('../images/crazyKittenLogo.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
}

h1{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3em;
  font-family: 'Permanent Marker', cursive;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a{
  font-family: 'Cutive Mono', monospace;
  margin-left: 575px;
  text-decoration: none;
  color: black;
}


.title a:hover{
  color: #ECECEC;
}

#instructions-link{
  font-family: 'Cutive Mono', monospace;
  margin-left: 746px;
  text-decoration: none;
  color: black;
}

#instructions-link:hover{
  color: #ECECEC;
}

#game-link{
  font-family: 'Cutive Mono', monospace;
  margin-left: 315px;
  text-decoration: none;
  color: black;
}

#game-link:hover{
  color: #ECECEC;
}


/*
main{
  width: 100%;
  height: 70%;

  background-color: #ECECEC;

  font-family: 'Architects Daughter', cursive;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.info{
  width: 100%;
  margin-left: 40px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

}

main img{
  width: 200px;
  margin-left: 30px;
}

main h2{
  font-size: 2em;
  text-transform: uppercase;
}

main h3{
  font-weight: normal;
}

main a{
  background-color: #FFCC00;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;

  margin-top: 1em;
  padding-top: 6px;
  width: 30%;
  height: 40px;

  border: none;

}*/

footer{
  background-color: #993366;
}

footer{
  height: 10%;
  font-family: 'Cutive Mono', monospace;
  font-size: 1em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer p{
  margin: 1em 1em;
}

footer a{
  text-decoration: none;
  color: #ECECEC;
}

.original{
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-right: 1em;

}
